version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '00:00'
      timezone: 'Europe/Tallinn'
    open-pull-requests-limit: 15
    labels:
      - 'dependencies'
    pull-request-branch-name:
      separator: '/'
    ignore:
      - dependency-name: '@types/node'
    groups:
      nestjs:
        patterns:
          - '@nestjs/*'
      prisma:
        patterns:
          - 'prisma'
          - '@prisma/*'
      vitest:
        patterns:
          - 'vitest'
          - '@vitest/*'
